:host {
  display: block;

  app-svg-icon {
    background: var(--contrast100);
    color: var(--accent);
    animation: pulse 1.5s infinite ease;
  }

  @keyframes pulse {
    0%, 100% { opacity: 0; }
    20% { opacity: 1; }
  }
}
