@use 'sass:math';
@import 'variables';

@mixin opacity {
  opacity: 0.6;
}

@mixin overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  background: var(--contrast);
  @include opacity;
}

@mixin dialog {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  background: var(--contrast100);
  z-index: 10;
  @include overflow-auto;
}

@mixin error {
  color: var(--error);
}

@mixin input-invalid {
  &.ng-invalid {
    @include error;
  }
}

@mixin list-item {
  display: flex;
  align-items: center;
  height: $length56;
  padding: math.div($length18, 2) 0;

  .list-icon {
    margin-right: $length12;
    flex-shrink: 0;
    background: var(--contrast100);

    &--transparent {
      background: transparent;
    }
  }

  .list-details {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .list-accent {
    margin-left: $length12;
    font-size: $length18;
    color: var(--accent);
  }
}

@mixin header-nav-item-padding {
  padding: $length3 $length12;
}

@mixin header-top-bar-height {
  height: $length88;
}

@mixin overflow-auto {
  overflow: auto;
  overscroll-behavior: contain;

  &::-webkit-scrollbar {
    display: none;
  }
}
