@import 'variables';

@mixin opacity {
  opacity: 0.6;
}

@mixin overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  background: var(--contrast);
  @include opacity;
}

@mixin input-invalid {
  &.ng-invalid {
    @include opacity;
  }
}

@mixin list-item {
  display: flex;
  align-items: center;
  height: $length56;
  padding: ($length18 / 2) 0;

  .list-icon {
    margin-right: $length12;
    flex-shrink: 0;
  }

  .list-details {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@mixin header-nav-item-padding {
  padding: $length3 $length12;
}

@mixin header-top-bar-height {
  height: $length88;
}
