$length3: 3px;
$length4: 4px;
$length12: 12px;
$length14: 14px;
$length16: 16px;
$length18: 18px;
$length20: 20px;
$length24: 24px;
$length30: 30px;
$length36: 36px;
$length48: 48px;
$length56: 56px;
$length60: 60px;
$length72: 72px;
$length88: 88px;

$weight400: 400;
$weight500: 500;

$shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

:root {
  --white: #fff;
  --black: #000;

  // colors.gray
  --gray50: #fafafa;
  --gray100: #f4f4f5;
  --gray200: #e4e4e7;
  --gray300: #d4d4d8;
  --gray400: #a1a1aa;
  --gray500: #71717a;
  --gray600: #52525b;
  --gray700: #3f3f46;
  --gray800: #27272a;
  --gray900: #18181b;

  --indigo300: #a5b4fc;
  --indigo500: #6366f1;

  --red300: #fca5a5;
  --red400: #f87171;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary: var(--gray900);
    --contrast: var(--white);
    --contrast100: var(--gray100);
    --contrast300: var(--gray300);
    --contrast400: var(--gray400);
    --contrast500: var(--gray500);
    --accent: var(--indigo500);
    --error: var(--red300);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: var(--gray50);
    --contrast: var(--gray800);
    --contrast100: var(--gray700);
    --contrast300: var(--gray500);
    --contrast400: var(--gray400);
    --contrast500: var(--gray300);
    --accent: var(--indigo300);
    --error: var(--red300);
  }
}
