@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&subset=cyrillic');
@import 'variables';
@import 'mixins';

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  background: var(--contrast);
  color: var(--primary);
  font: 400 16px/1.7 'Rubik', -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Noto Sans', 'Helvetica Neue', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: var(--primary);
  outline: 0;
  text-decoration: none;
}

ul, li, input, button, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-weight: 400;
  line-height: 1;
}

h1 {
  font-size: $length48;
}

li {
  list-style: none;
}

input, button, select {
  -webkit-appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  outline: 0;
  color: var(--primary);
  font-family: inherit;
  font-size: 100%;
  line-height: 1;

  &:disabled {
    @include opacity;
  }
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

a, button, [role=button], [role=option] {
  cursor: pointer;
  user-select: none;
  border-radius: .25rem;
  transition: all 200ms ease-out;

  &:active {
    background: var(--contrast100);
  }
}

app-svg-icon {
  color: var(--contrast800);
  height: $length24;
  width: $length24;
}

.rounded {
  width: $length36;
  height: $length36;
  padding: $length12 / 2;
  margin: 0;
  border-radius: 50%;
  background: transparent;
}

// styled inputs
input, button {
  &.default {
    background: var(--contrast100);
    border-radius: .25rem;
    padding: .75rem 1rem;
    line-height: 1.25;

    &:active {
      background: var(--contrast);
    }
  }
}

button.default {
  align-items: center;
  display: flex;

  app-svg-icon {
    height: $length16;
    margin-right: $length12 / 2;
    width: $length16;
  }
}

// hovers only on desktop
@media(hover: hover) and (pointer: fine) {
  a, button, [role=button], [role=option] {
    &:hover {
      background: var(--contrast100);
    }
  }

  input, button {
    &.default:hover {
      background: var(--contrast);
    }
  }
}
