@import 'variables';

:host {
  display: block;
  overflow-wrap: break-word; // in case long hash as version used
  max-width: 100%;
  font-size: $length12;
  color: var(--contrast400);

  .version-info {
    padding: $length3;

    &.available {
      color: var(--accent);
    }
  }
}
