@import '../../../sass/variables';

:host {
  .fab {
    background: var(--primary);
    border-radius: 50%;
    bottom: $length24;
    box-shadow: $shadow;
    height: $length60;
    left: calc(50% - #{$length60 / 2});
    padding: $length18;
    position: fixed;
    width: $length60;

    app-svg-icon {
      fill: var(--contrast);
    }
  }
}
