@import '../../../sass/variables';

:host {
  .fab {
    position: fixed;
    bottom: $length24;
    left: calc(50% - #{$length60 / 2});
    width: $length60;
    height: $length60;
    padding: $length18;
    border-radius: 50%;
    background: var(--primary);
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14);

    app-svg-icon {
      fill: var(--contrast);
    }
  }
}
