@use 'sass:math';
@use 'variables' as v;

:host {
  display: flex;
  margin-left: -(math.div(v.$length12, 2));
  font-size: v.$length24;
  color: var(--contrast400);

  .option {
    color: var(--contrast400);

    &[role] {
      padding: 0 math.div(v.$length12, 2);
    }

    &.selected {
      color: var(--primary);
    }
  }
}
