@use 'sass:math';
@import 'variables';

:host {
  display: flex;
  margin-left: -(math.div($length12, 2));
  font-size: $length24;
  color: var(--contrast400);

  .option {
    color: var(--contrast400);

    &[role] {
      padding: 0 math.div($length12, 2);
    }

    &.selected {
      color: var(--primary);
    }
  }
}
