@import 'variables';
@import 'mixins';

:host {
  $visible-categories: 5;

  header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-left: $length72;
  }

  ul {
    display: block;
    max-height: $length56 * $visible-categories - $length56 / 2;

    @include overflow-auto;

    li {
      @include list-item;

      color: var(--contrast400);

      &.selected {
        color: var(--primary);

        .list-icon {
          background: var(--contrast100);
        }
      }
    }
  }
}
