<header>
  <app-svg-icon [icon]="selectedCategory?.icon"></app-svg-icon>

  <a class="rounded" [routerLink]="['/categories']">
    <app-svg-icon icon="icon-dots-two-horizontal"></app-svg-icon>
  </a>
</header>

<ul>
  <li
    role="option"
    *ngFor="let category of categories"
    (click)="selectCategory(category.id)"
    [class.selected]="selectedCategoryId === category.id"
  >
    <app-svg-icon class="rounded" [icon]="category.icon"></app-svg-icon>
    <div class="name">{{ category.name }}</div>
  </li>
</ul>
