@import 'variables';
@import 'mixins';

:host {
  header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-left: $length72;
  }

  ul {
    display: block;
    max-height: $length56 * 4 - $length56 / 2;
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    li {
      @include list-item;

      color: var(--contrast600);

      &.selected {
        color: var(--primary);

        app-svg-icon {
          background: var(--contrast100);
        }
      }
    }
  }
}
