<header>
  <app-svg-icon [icon]="selectedCategory?.icon"></app-svg-icon>

  <a [routerLink]="['/categories']" class="rounded">
    <app-svg-icon icon="icon-chevron-right"></app-svg-icon>
  </a>
</header>

<ul>
  <li
    (click)="selectCategory(category.id)"
    *ngFor="let category of categories"
    [class.selected]="selectedCategoryId === category.id"
    role="option"
    tabindex="0"
  >
    <app-svg-icon [icon]="category.icon" class="list-icon list-icon--transparent rounded"></app-svg-icon>
    <div class="list-details name">{{ category.name }}</div>
  </li>
</ul>
