@use 'variables' as v;
@use 'mixins' as m;

:host {
  display: block;

  li a {
    @include m.list-item;

    .details {
      .date {
        display: block;
        font-size: v.$length12;
        color: var(--contrast400);
        line-height: 0.8;
      }
    }
  }
}
