@import 'variables';
@import 'mixins';

:host {
  display: block;

  li a {
    @include list-item;

    app-svg-icon {
      background: var(--contrast100);
    }

    .details {
      .date {
        display: block;
        font-size: $length12;
        color: var(--contrast600);
        line-height: 0.8;
      }
    }

    .amount {
      margin-left: $length12;
      font-size: $length18;
      color: var(--accent);
    }
  }
}
