@import '../../../../sass/variables';

:host {
  display: block;

  li a {
    display: flex;
    align-items: center;
    padding: ($length18 / 2) 0;

    app-svg-icon {
      background: var(--contrast100);
      margin-right: $length12;
    }

    .details {
      flex-grow: 1;

      .date {
        display: block;
        font-size: $length12;
        color: var(--contrast600);
      }
    }

    .amount {
      font-size: $length18;
      color: var(--accent);
    }
  }
}
