@import '../../../../sass/variables';

:host {
  display: block;
  margin-left: $length72;

  .title {
    font-size: $length24;
    color: var(--contrast600);
  }

  .total {
    line-height: 1;
    font-size: $length48;
  }

  .months {
    display: flex;
    margin: $length14 0 $length18 (-$length12);
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    a {
      padding: 0 $length12;
      color: var(--contrast600);

      &.active {
        color: var(--primary);
      }
    }
  }

  .view-toggle {
    display: flex;
    justify-content: flex-end;
  }
}
