@use 'sass:math';
@import 'variables';
@import 'mixins';

:host {
  display: block;
  margin-left: $length72;

  .totals-container {
    @include header-top-bar-height; // match transaction form corresponding elements height
    position: relative;

    .totals {
      .title {
        display: flex;
        font-size: $length24;
        color: var(--contrast400);

        .title-spacer {
          padding: 0 (math.div($length12, 2));
        }
      }

      .total {
        line-height: 1;
        font-size: $length48;

        a {
          display: block;
        }
      }
    }
  }

  .months {
    display: flex;
    margin: $length14 0 $length18 (-$length12);

    @include overflow-auto;

    a {
      @include header-nav-item-padding;
      display: flex;
      align-items: baseline;
      color: var(--contrast400);

      &.active {
        color: var(--primary);
      }

      span {
        font-size: $length14;
        white-space: nowrap;
      }
    }
  }

  .view-toggle {
    display: flex;
    justify-content: flex-end;

    a {
      app-svg-icon {
        color: var(--contrast300);
      }

      &.active {
        app-svg-icon {
          color: var(--contrast500);
        }
      }
    }
  }
}
