@use 'variables' as v;
@use 'mixins' as m;

.group {
  @include m.list-item;

  label {
    input {
      width: 100%;
      height: v.$length36;
      border-bottom: 1px solid transparent;

      &:focus {
        border-bottom-color: var(--contrast500);
      }
    }
  }

  button {
    height: v.$length36;
    margin-left: v.$length12;

    app-svg-icon {
      color: var(--accent);
    }
  }
}
