<form *ngIf="categoriesForm" [formGroup]="categoriesForm">
  <ul>
    <li>
      <div class="group" formGroupName="newCategory">
        <app-icon-select formControlName="icon"></app-icon-select>

        <label>
          <input type="text" placeholder="add new category" formControlName="name">
        </label>

        <button class="rounded" [disabled]="newCategory.pristine || newCategory.invalid" (click)="newCategory.reset()">
          <app-svg-icon icon="icon-erase"></app-svg-icon>
        </button>
        <button class="rounded" [disabled]="newCategory.invalid" (click)="emitSave(newCategory)">
          <app-svg-icon icon="icon-plus"></app-svg-icon>
        </button>
      </div>
    </li>
  </ul>

  <ul>
    <li formArrayName="categories" *ngFor="let category of categories.controls; let i = index">
      <div class="group" formGroupName="{{i}}">
        <app-icon-select formControlName="icon"></app-icon-select>

        <label>
          <input type="text" formControlName="name">
        </label>

        <button class="rounded" *ngIf="!removeConfirm(category.value.id)" (click)="showRemoveConfirm(category.value.id)">
          <app-svg-icon icon="icon-cross"></app-svg-icon>
        </button>
        <button class="rounded" *ngIf="removeConfirm(category.value.id)" (click)="emitRemove(category)" (blur)="showRemoveConfirm(null)" #removeButton>
          <app-svg-icon icon="icon-circle-with-cross"></app-svg-icon>
        </button>

        <button class="rounded" [disabled]="category.invalid || category.pristine" (click)="emitSave(category)">
          <app-svg-icon icon="icon-dot-single"></app-svg-icon>
        </button>
      </div>
    </li>
  </ul>
</form>
