@import '../../../../sass/variables';

.group {
  display: flex;
  align-items: center;
  padding: ($length18 / 2) 0;

  app-icon-select {
    margin-right: $length12;
  }

  input {
    flex-grow: 1;
    height: $length36;
    border-bottom: 1px solid transparent;

    &:focus {
      border-bottom-color: var(--contrast800);
    }
  }

  button {
    height: $length36;
    margin-left: $length12;

    app-svg-icon {
      color: var(--accent);
    }
  }
}
