<form *ngIf="categoriesForm" [formGroup]="categoriesForm">
  <ul>
    <li>
      <div class="group" formGroupName="newCategory">
        <app-icon-select formControlName="icon"></app-icon-select>

        <input type="text" placeholder="add new category" formControlName="name" (focus)="showRemoveConfirm(null)">

        <button [disabled]="newCategory.pristine || newCategory.invalid" (click)="newCategory.reset()">
          <app-svg-icon icon="icon-erase" class="rounded"></app-svg-icon>
        </button>
        <button [disabled]="newCategory.invalid" (click)="emitSave(newCategory)">
          <app-svg-icon icon="icon-plus" class="rounded"></app-svg-icon>
        </button>
      </div>
    </li>
  </ul>

  <ul>
    <li formArrayName="categories" *ngFor="let category of categories.controls; let i = index">
      <div class="group" [formGroupName]="i">
        <app-icon-select formControlName="icon"></app-icon-select>

        <input type="text" formControlName="name" (focus)="showRemoveConfirm(null)">

        <button *ngIf="!removeConfirm(category.value.id)" (click)="showRemoveConfirm(category.value.id)">
          <app-svg-icon icon="icon-cross" class="rounded"></app-svg-icon>
        </button>
        <button *ngIf="removeConfirm(category.value.id)" (click)="emitRemove(category)">
          <app-svg-icon icon="icon-circle-with-cross" class="rounded"></app-svg-icon>
        </button>
        <button [disabled]="category.invalid || category.pristine" (click)="emitSave(category)">
          <app-svg-icon icon="icon-dot-single" class="rounded"></app-svg-icon>
        </button>
      </div>
    </li>
  </ul>
</form>
