@import 'variables';
@import 'mixins';

:host {
  display: block;

  .date-input {
    position: relative;

    .date-formatted {
      @include header-nav-item-padding;
      display: inline-flex;
      margin-left: (-$length12);
    }

    .date-input-dialog-container {
      .date-controls {
        @include dialog;

        margin-top: $length4;
        padding: $length20;

        .date-group {
          display: flex;
          align-items: center;
          margin-left: $length12;

          button {
            margin: 0 $length12;
          }

          input {
            height: $length36;
            text-align: center;
            border-bottom: 1px solid transparent;

            &:focus,
            &.selected {
              border-bottom-color: var(--contrast500);
            }

            @include input-invalid;
          }
        }
      }

      .overlay {
        @include overlay;
      }
    }
  }
}
