<div class="date-input">
  <div #dateFormattedEl (click)="toggleControls()" class="date-formatted" role="button" tabindex="0">
    {{ controlValue | xDate: 'E, MMM d, y, H:mm':true }}
  </div>

  <div *ngIf="controlsVisible" @fade class="date-input-dialog-container">
    <div [appPositionBy]="dateFormattedEl" class="date-controls animation-dialog">
      <div [formGroup]="dateGroup" class="date-group">
        <button (click)="step(-1)" class="rounded darker" type="button">
          <app-svg-icon icon="icon-dot-single"></app-svg-icon>
        </button>

        <label>
          <input
            (click)="selectControl('year')"
            [class.selected]="selectedControl === 'year'"
            [placeholder]="datePlaceholder | xDate: 'y'"
            formControlName="year"
            inputmode="decimal"
            max="2121"
            min="1981"
            type="number"
          />
        </label>

        <span>-</span>

        <label>
          <input
            (click)="selectControl('month')"
            [class.selected]="selectedControl === 'month'"
            [placeholder]="datePlaceholder | xDate: 'MM'"
            formControlName="month"
            max="12"
            min="1"
            type="number"
          />
        </label>

        <span>-</span>

        <label>
          <input
            (click)="selectControl('date')"
            [class.selected]="selectedControl === 'date'"
            [placeholder]="datePlaceholder | xDate: 'dd'"
            formControlName="date"
            max="31"
            min="1"
            type="number"
          />
        </label>

        <span>,</span>

        <label>
          <input
            (click)="selectControl('hours')"
            [class.selected]="selectedControl === 'hours'"
            [placeholder]="datePlaceholder | xDate: 'hh'"
            formControlName="hours"
            max="23"
            min="0"
            type="number"
          />
        </label>

        <span>:</span>

        <label>
          <input
            (click)="selectControl('minutes')"
            [class.selected]="selectedControl === 'minutes'"
            [placeholder]="datePlaceholder | xDate: 'mm'"
            formControlName="minutes"
            max="59"
            min="0"
            type="number"
          />
        </label>

        <button (click)="step(1)" class="rounded darker" type="button">
          <app-svg-icon icon="icon-dot-single"></app-svg-icon>
        </button>
      </div>
    </div>

    <div (click)="toggleControls()" (document:keydown.escape)="toggleControls()" class="overlay animation-scrim"></div>
  </div>
</div>
