@import 'variables';
@import 'mixins';

form {
  display: block;

  header {
    margin-left: $length72;

    .amount-container {
      @include header-top-bar-height;

      app-transaction-number-input {
        font-size: $length48;
        line-height: 1;
      }
    }

    app-transaction-date-input {
      margin: $length14 0 $length18;
    }
  }

  main {
    label.details {
      display: flex;
      align-items: center;
      padding: $length18 0;

      app-svg-icon {
        margin-right: $length12;
      }

      input {
        width: 100%;
        height: $length36;
        border-bottom: 1px solid transparent;

        &:focus {
          border-bottom-color: var(--contrast800);
        }
      }
    }
  }

  footer {
    display: flex;
    justify-content: flex-end;

    button {
      height: $length36;
      margin-left: $length12;

      app-svg-icon {
        color: var(--accent);
      }
    }
  }
}
