<form [formGroup]="transactionForm" (ngSubmit)="emitSave()">
  <header>
    <div class="amount-container">
      <app-transaction-type-select formControlName="type"></app-transaction-type-select>

      <app-transaction-number-input formControlName="amount" placeholder="0.00"></app-transaction-number-input>
    </div>

    <app-transaction-date-input formControlName="date"></app-transaction-date-input>
  </header>

  <main>
    <app-transaction-category-select formControlName="categoryId" [categories]="categories$ | async"></app-transaction-category-select>

    <label class="details">
      <app-svg-icon class="rounded" icon="icon-text"></app-svg-icon>
      <input formControlName="details" type="text" placeholder="add transaction details">
    </label>
  </main>

  <footer>
    <button type="button" class="rounded" *ngIf="data && !removeConfirm" (click)="toggleConfirm()">
      <app-svg-icon icon="icon-cross"></app-svg-icon>
    </button>
    <button type="button" class="rounded" *ngIf="removeConfirm" (mousedown)="emitRemove()" (blur)="toggleConfirm()" #removeButton>
      <app-svg-icon icon="icon-circle-with-cross"></app-svg-icon>
    </button>

    <button type="submit" class="rounded" [disabled]="!transactionForm.valid">
      <app-svg-icon icon="icon-dot-single"></app-svg-icon>
    </button>
  </footer>
</form>
