@import '../../../../sass/variables';

.new-form {
  display: block;

  header {
    margin-left: $length72;

    app-transaction-type-select {

    }

    label.amount {
      display: block;
      height: $length48;

      input {
        font-size: $length48;
        height: $length48;
        width: 100%;
        border-bottom: 1px solid transparent;

        &:focus {
          border-bottom-color: var(--contrast800);
        }
      }
    }

    app-transaction-date-input {
      margin: $length14 0 $length18;
    }
  }

  main {
    .categories-link {
      display: flex;
      justify-content: flex-end;
    }

    app-transaction-category-select {

    }

    label.details {
      display: block;
    }
  }

  footer {
    display: flex;
    justify-content: flex-end;

    button {
      height: $length36;
      margin-left: $length12;

      app-svg-icon {
        color: var(--accent);
      }
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 0;

  main {
    flex: 1;

    .fieldset {
      display: flex;
      align-items: stretch;
    }

    label {
      display: flex;
      margin-bottom: $length16;

      &.amount {
        //font-size: $length48;
        flex: 1;

        input {
          //font-size: $length48;
          margin-left: $length12;
          width: 100%;
        }
      }

      &.type {
        //font-size: $length48;

        select {
          //font-size: $length48;
        }
      }

      &.category {
        display: flex;
        align-items: center;

        select {
          width: 100%;
        }
      }

      &.details {
        input {
          width: 100%;
        }
      }

      & .date {
        input {
          width: 50%;
        }
      }
    }
  }

  footer {
    display: flex;
    justify-content: center;

    button {
      margin: 0 $length12;
    }
  }
}
