@use 'variables' as v;
@use 'mixins' as m;

form {
  display: block;

  header {
    margin-left: v.$length72;

    .amount-container {
      @include m.header-top-bar-height;

      app-transaction-number-input {
        font-size: v.$length48;
        line-height: 1;
      }
    }

    app-transaction-date-input {
      margin: v.$length14 0 v.$length18;
    }
  }

  main {
    label.details {
      display: flex;
      align-items: center;
      padding: v.$length18 0;

      app-svg-icon {
        margin-right: v.$length12;
      }

      input {
        width: 100%;
        height: v.$length36;
        border-bottom: 1px solid transparent;

        &:focus {
          border-bottom-color: var(--contrast500);
        }
      }
    }
  }

  footer {
    display: flex;
    justify-content: flex-end;

    button {
      height: v.$length36;
      margin-left: v.$length12;

      app-svg-icon {
        color: var(--accent);
      }
    }
  }
}
