<form [formGroup]="transactionForm" (ngSubmit)="emitSave()">
  <main>
    <div class="fieldset">
      <label class="type">
        <select formControlName="type">
          <option value="-">-</option>
          <option value="+">+</option>
        </select>
      </label>

      <label class="amount">
        <input type="number" formControlName="amount" placeholder="0.00">
      </label>
    </div>

    <label class="category">
      <select formControlName="category">
        <option value="shopping">🛍 Shopping</option>
        <option value="food">☕️ Food and Drinks</option>
        <option value="digital">Digital</option>
        <option value="misc">Misc</option>
        <option value="salary">Salary</option>
        <option value="salary2">Salary 2</option>
      </select>

      <a [routerLink]="['/categories']">
        <app-svg-icon icon="icon-dots-three-horizontal" class="rounded"></app-svg-icon>
      </a>
    </label>

    <label class="date">
      <input type="datetime-local" formControlName="date">
    </label>

    <label class="details">
      <input type="text" formControlName="details" placeholder="details">
    </label>
  </main>

  <footer>
    <button (click)="emitRemove()" *ngIf="data" type="button">Delete</button>
    <button type="submit" [disabled]="!transactionForm.valid">Submit</button>
  </footer>
</form>
