@use 'variables' as v;
@use 'mixins' as m;

app-loading-indicator,
.avatar-link {
  display: block;
  position: absolute;
  right: v.$length20;
  top: v.$length20;
}

.avatar-link.loading {
  @include m.opacity;
}

.container {
  position: relative;
  min-height: 100%;
  max-width: v.$screen-lg;
  margin: 0 auto;
  padding: v.$length72 v.$length20 v.$length36;
  overflow: hidden; // fix scrolls during x axis animation
}
