@import 'variables';
@import 'mixins';

app-loading-indicator,
.avatar-link {
  display: block;
  position: absolute;
  right: $length20;
  top: $length20;
}

.avatar-link.loading {
  @include opacity;
}

.container {
  position: relative;
  min-height: 100%;
  max-width: $screen-lg;
  margin: 0 auto;
  padding: $length72 $length20 $length36;
  overflow: hidden; // fix scrolls during x axis animation
}
