<div *ngIf="loading$ | async; else transactions">loading transactions...</div>

<ng-template #transactions>
  <input placeholder="amount" #input (keyup.enter)="addTransaction(input)">
  <button (click)="addTransaction(input)">add</button>

  <ul>
    <li *ngFor="let transaction of transactions$ | async; trackBy: trackByFn">
      {{ transaction.amount }}
      <button (click)="updateTransaction(transaction.id)">update</button>
      <button (click)="removeTransaction(transaction.id)">delete</button>
    </li>
  </ul>
</ng-template>
