@import 'variables';
@import 'mixins';

.icon-select {
  position: relative;

  .selected-icon {
    app-svg-icon {
      &.disabled {
        pointer-events: none;
        @include opacity;
      }
    }
  }

  .icon-select-dialog-container {
    .icons-dialog {
      @include dialog;

      margin-top: $length4;
      padding: $length14;

      .icons {
        display: flex;
        align-items: center;

        app-svg-icon {
          margin: $length12 / 2;
          flex-shrink: 0;

          &:active {
            @include opacity;
          }
        }
      }
    }

    .overlay {
      @include overlay;
    }
  }
}
