@import 'variables';
@import 'mixins';

.icon-select {
  position: relative;

  app-svg-icon {
    &.disabled {
      pointer-events: none;
      @include opacity;
    }
  }

  .icon-select-dialog {
    .icons {
      position: absolute;
      left: -($length20);
      top: $length36 + 5px; // icon height + gap
      padding: 9px 14px; // align with the next row icon
      display: flex;
      align-items: center;
      width: 100vw;
      overflow: auto;
      background: var(--contrast100);
      z-index: 10;

      &::-webkit-scrollbar {
        display: none;
      }

      app-svg-icon {
        margin: $length12 / 2;
        flex-shrink: 0;

        &:active {
          @include opacity;
        }
      }
    }

    .overlay {
      @include overlay;
    }
  }
}
