@use 'sass:math';
@use 'variables' as v;
@use 'mixins' as m;

.icon-select {
  position: relative;

  .selected-icon {
    app-svg-icon {
      &.disabled {
        pointer-events: none;
        @include m.opacity;
      }
    }
  }

  .icon-select-dialog-container {
    .icons-dialog {
      @include m.dialog;

      margin-top: v.$length4;
      padding: v.$length14;

      .icons {
        display: flex;
        align-items: center;

        app-svg-icon {
          margin: math.div(v.$length12, 2);
          flex-shrink: 0;

          &:active {
            @include m.opacity;
          }
        }
      }
    }

    .overlay {
      @include m.overlay;
    }
  }
}
