@use 'variables' as v;
@use 'mixins' as m;

:host {
  display: block;

  .number-input-value {
    height: v.$length48;
    @include m.overflow-auto;

    .number-input-placeholder {
      @include m.opacity;
    }
  }

  .number-input-dialog-container {
    .number-input-dialog {
      @include m.dialog;

      display: grid;
      justify-content: center;

      margin-top: v.$length12;
      padding: v.$length20;

      .input-values {
        width: 12em;
        height: 12em;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        font-size: v.$length24;

        .input-value {
          display: grid;
          place-items: center;
        }
      }
    }

    .overlay {
      @include m.overlay;
    }
  }
}
