@import 'variables';
@import 'mixins';

:host {
  display: block;

  li a {
    @include list-item;

    app-svg-icon {
      background: var(--contrast100);
    }

    .total {
      margin-left: $length12;
      font-size: $length18;
      color: var(--accent);
    }
  }
}
