@import '../../../../sass/variables';

:host {
  display: block;

  li {
    display: flex;
    align-items: center;
    padding: ($length18 / 2) 0;

    app-svg-icon {
      width: $length36;
      height: $length36;
      padding: $length12 / 2;
      margin-right: $length12;
      border-radius: 50%;
      background: var(--contrast100);
    }

    .name {
      flex-grow: 1;
    }

    .total {
      font-size: $length18;
      color: var(--accent);
    }
  }
}
