@import '../../../../sass/variables';

:host {
  display: block;

  li a {
    display: flex;
    align-items: center;
    padding: ($length18 / 2) 0;

    app-svg-icon {
      background: var(--contrast100);
      margin-right: $length12;
    }

    .name {
      flex-grow: 1;
    }

    .total {
      margin-left: $length12;
      font-size: $length18;
      color: var(--accent);
    }
  }
}
