@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&subset=cyrillic');
@import './sass/variables';

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  -webkit-font-smoothing: antialiased;
  background: var(--contrast);
  color: var(--primary);
  font: 400 16px/1.7 'Rubik', -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Noto Sans', 'Helvetica Neue', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: var(--primary);
  outline: 0;
  text-decoration: none;
}

ul, li, input, button, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-weight: 400;
  line-height: 1;
}

h1 {
  font-size: $length48;
}

li {
  list-style: none;
}

input, button, select {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: var(--contrast100);
  border-radius: .25rem;
  border: 1px solid var(--contrast100);
  color: var(--primary);
  font-family: inherit;
  font-size: 100%;
  line-height: 1.25;
  outline: 0;
  padding: .75rem 1rem;
}

//input:focus {
//  background-color: var(--contrast);
//  border-color: var(--contrast800);
//}

button {
  align-items: center;
  box-shadow: $shadow;
  display: flex;

  &:active {
    box-shadow: none;
  }

  &:disabled {
    opacity: .5;
  }

  &[type=submit] {
    background: var(--primary);
    color: var(--contrast);
  }

  app-svg-icon {
    height: $length16;
    margin-right: $length12 / 2;
    width: $length16;
  }
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

app-svg-icon {
  fill: var(--contrast800);
  height: $length24;
  width: $length24;
}
