@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&subset=cyrillic');
@import './sass/variables';

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  -webkit-font-smoothing: antialiased;
  background: var(--contrast);
  color: var(--primary);
  font: 400 16px/1.7 'Rubik', -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Noto Sans', 'Helvetica Neue', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: var(--primary);
  outline: 0;
  text-decoration: none;
}

ul, li, input, button, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-weight: 400;
  line-height: 1;
}

h1 {
  font-size: $length48;
}

li {
  list-style: none;
}

input, button, select {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: transparent;
  border: none;
  color: var(--primary);
  font-family: inherit;
  font-size: 100%;
  line-height: 1;
  outline: 0;

  &:disabled {
    opacity: .5;
  }
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

a, button, [role=button], [role=option] {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  user-select: none;

  &:active {
    border-radius: .25rem;
    background: var(--contrast100);
  }

  &.rounded {
    &:active {
      border-radius: 50%;
    }
  }
}

app-svg-icon {
  color: var(--contrast800);
  height: $length24;
  width: $length24;
}

.rounded {
  width: $length36;
  height: $length36;
  padding: $length12 / 2;
  margin: 0;
  border-radius: 50%;
  background: transparent;
}

// styled inputs
input, button, select {
  &.default {
    background-color: var(--contrast100);
    border-radius: .25rem;
    border: 1px solid var(--contrast100);
    line-height: 1.25;
    padding: .75rem 1rem;

    &:focus {
      background-color: var(--contrast);
      border-color: var(--contrast800);
    }
  }
}

button.default {
  align-items: center;
  display: flex;

  app-svg-icon {
    height: $length16;
    margin-right: $length12 / 2;
    width: $length16;
  }
}
